html
{
    scroll-behavior: smooth;
}

body {
    background-color: #250f1d;
    background-repeat: no-repeat;
    background-size: cover; /* Adjust the background size as needed */
}

.header {
    position: relative;
    z-index: 1;
    padding-left: 10px;
    width: auto;
    height: 50px;
    display: block;
}

.gradient{
    background: linear-gradient(#250f1d07, #250f1d);
    width: 100%;
    height: 40px;
    z-index: 1;
}

/* Add gradient background using a pseudo-element */
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#26001b, #26001b10);
    z-index: -1; /* Place it behind the header content */
}

/* Add a new div for the background image */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/artwork_background.png');
    background-repeat: no-repeat;
    background-size: cover; /* Adjust the background size as needed */
    z-index: -1; /* Place it behind the header */
}

/*.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #26001b;
    background-repeat: no-repeat;
    background-size: cover; /* Adjust the background size as needed
    z-index: 1; /* Place it behind the header
}
*/
.a 
{
    margin-left: 50px;
    font-size: 24px;
    text-align: left;
    font-family: Goodlight;
    color:white;
}

*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#btn-small
{
    display: none;
}

.inner-header
{
    width: 100%;
    height: 100%;
    display:block;
    margin: 0 auto;
}
.logo-container
{
    height: 100%;
    display: table;
    float: left;
    padding-top: 10px;
}

.logo-container img
{
    padding-top: 8px;
    color:whitesmoke;
    width: auto;
    display: table-cell;
    text-align: left;
}

.navigation
{
    float: right;
    height: 100%;
}

.navigation a
{
    height: 100%;
    display: table;
    float: left;
    padding:0px 0px;
}

.navigation img{
    height: 80%;
    vertical-align: middle;
    float: left;
    padding-top: 5px;
}

.navigation a li
{
    display: table-cell;
    vertical-align: middle;
    font-family: Goodlight;
    font-size: 16px;
    height: 100%;
    color: whitesmoke;
    padding-right: 20px;
    padding-top: 10px;
}

h1
{
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
    font-family: Goodlight;
}

h3
{
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    font-family: Alef;
}

p{
    color: #ff00b7;
    text-align: center;
}

.shadowtext {
    color: #fff;
    text-shadow:
        0 0 30px #11010d,
        0 0 30px #11010d,
        0 0 30px #11010d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

/* Reset margin and padding for child elements */
.container * {
    margin: 0;
    padding: 0;
}

.inline-heading {
    display: inline-block;
     /* Change the display property */
}

.pisca{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.middle{
    text-align: center;
}


.section2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 100vh;
    background-color: #250f1d;
    z-index: -1; /* Place it behind the header */
}

/* Add a class to style the side-by-side paragraphs */
.side-by-side {
    display: flex;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Adjust this as needed */
    padding: 20px; /* Add padding as desired */
}

.sds {
    flex: auto;
    padding: 10px; /* Add padding as desired */
    /*box-sizing: border-box; */
}

.sds img{
    height: 100%;
    width: 100%;
    float: right;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


/* You can also style other properties for the paragraphs as needed */
.side-by-side p {
    /* Add additional styles if necessary */
    font-size: 28px;
    color: whitesmoke;
    text-align:left;
    font-family: Alef;
}






.section3 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 200vh;
    background-color: #250f1d;
    z-index: -1; /* Place it behind the header */
}

@font-face {
    font-family: Goodlight;
    src:url(Fonts/Goodlight.otf);
}

@font-face {
    font-family: Alef;
    src:url(Fonts/Alef-Regular.ttf);
}

@keyframes example {
    0%    {color:rgba(255, 255, 255, 0)}
    15%   {color:rgb(255, 255, 255)}
    30%   {color:rgba(255, 255, 255, 0)}
    45%   {color:rgb(255, 255, 255)}
    60%   {color:rgba(255, 255, 255, 0)}
    75%  {color:rgb(255, 255, 255)}
    90%   {color:rgba(255, 255, 255, 0)}
}

